.text {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  background-color: beige;
  &:hover {
    // border: 1px solid salmon;
    cursor: pointer;
  }

}

.textClass {
  margin: 0 20px;
  background-color: beige;
  display: inline-block;
  ::selection {
    img {
      width: 300px;
    }
    
    opacity: 1;
  }
}