<button type="button" (click)="onPrevious()" [disabled]="counter===0">Previous</button>
<button type="button" (click)="onNext()" [disabled]="this.counter == this.textList.length - 1">Next</button>
<div [@animImageSlider]="counter">
	<ng-container *ngFor="let text of images; let i=index">
	 <div class="text" *ngIf="i===counter%images.length || i === (images.length - (counter%images.length *-1))" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')"
	 (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)" >
	 <div class="textClass" >
		<img [src]="text" style="height:500px; width:500px" 
		[ngStyle]="{'opacity': isDrag === 'start' ? '0' : '1'}"
		*ngIf="i===counter%images.length || i === (images.length - (counter%images.length *-1))"/>
		 <p>
			 {{textList[i]}}
		 </p>
		</div></div>
	</ng-container>
</div>
<!-- 
<div>
	<ng-container *ngFor="let text of images; let i=index">
	 <div class="text" *ngIf="i===counter%images.length || i === (images.length - (counter%images.length *-1))" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')"
	 (dragover)="onDragOver($event)" (dragstart)="onDragStart2($event)" (dragend)="onDragEnd2($event)"
	 #withBuilder
	 >
	 <div class="textClass" >
		<img [src]="text" style="height:500px; width:500px" *ngIf="i===counter%images.length || i === (images.length - (counter%images.length *-1))"/>
		 <p>
			 {{textList[i]}}
		 </p>
		</div></div>
	</ng-container>
</div>

<div>
	<ng-container *ngFor="let text of images; let i=index">
	 <div class="text" *ngIf="i===counter%images.length || i === (images.length - (counter%images.length *-1))" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')"
	 (dragstart)="mouseDown($event)" (dragend)="mouseUp($event)"
	 (dragover)="mouseOver($event)"
	 >
	 <div class="textClass"  id="mydiv">
		<img [src]="text" style="height:500px; width:500px" *ngIf="i===counter%images.length || i === (images.length - (counter%images.length *-1))"/>
		 <p>
			 {{textList[i]}}
		 </p>
		</div></div>
	</ng-container>
</div> -->