<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.title}}</div>
    </div>
  </div>

  <div class="layout">
    <div class="example-container">
      <h2>Done</h2>
  
      <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>
          <div class="overlay-box" (click)="activeOverlay(item)" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
            <span class="title">{{item.title}}</span>
            <span class="value">{{item.value}}</span>
            <button [cdkCopyToClipboard]="item.value">coppy</button>
          </div>
          <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="item.isOpen">
            <ul class="overlay-list">
              <li>{{item.title}}</li>
              <li>value : <input [formControl]="userName" (keyup.enter)="confirmValue(item)"></li>
              <li><button (click)="confirmValue(item)">확인</button></li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion> -->

</div>