.excel {

  margin: 10px;

  table {
    border-collapse: collapse;
    border-spacing: 2px;
    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    td, th {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
    th {
      text-align: inherit;
    }
  }
}

.ul-form-excel {
  word-spacing: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  ul:last-child {
    li {
      display: inline-block;
      div {
        margin: 0 10px;
        text-overflow:ellipsis;
        white-space:nowrap;
        word-wrap:normal;
        // width:200px;
        overflow:hidden;
        // max-width: 300px;
        border-top: 1px solid #dee2e6;
      }
      
      // div:last-child {
      //   display: inline;
      // }
    }
    li:first-child, li:nth-child(6) {
      div {
        width: 30px;
      }
    }
    
  }
}