<div class="excel">
	<h1>table 구조 excel 변환 로직 구현</h1>

	<button (click)="exportAsXLSX()">
		excel 변환</button>
	<button (click)="generatePdf()">
		pdf 변환</button>

	<!-- <table class="table table-striped" id="table">
		<tr>
			<td *ngFor="let header of mockDataHeader">
				<b>{{header}}</b>
			</td>
		</tr>
		<tbody>
			<tr *ngFor="let item of mockDataArr">
				<td>{{item.numberrange}}</td>
				<td>{{item.address}}</td>
				<td>{{item.email}}</td>
				<td>{{item.phone}}</td>
				<td>{{item.country}}</td>
				<td>{{item.region}}</td>
				<td>{{item.list}}</td>
				<td>{{item.text}}</td>
				<td>{{item.currency}}</td>
				<td>{{item.alphanumeric}}</td>
				<td>{{item.postalZip}}</td>
				<td>{{item.name}}</td>
			</tr>
			<tr *ngFor="let tr of pastedArray; let rowIdx = index;">
				<td *ngFor="let item of tr; let columnIdx = index;">
					{{item}}
				</td>
			</tr>
		</tbody>
	</table> -->

	<table cellspacing="0" border="0" id="table">
		<colgroup span="8" width="80"></colgroup>
		<!-- <tr>
			<td colspan=8 rowspan=2 height="80" align="center" valign=middle bgcolor="red"><b>
					<font face="Arial" size=5 color="#000000">PACKING LIST</font>
				</b></td>
		</tr> -->
		<tr>
		</tr>
		<tr>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4
				height="23" align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">1.Shipper</font>
				</b></td>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4
				align="left" valign=top bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">8. No. &amp; date of invoice</font>
				</b></td>
		</tr>
		<tr>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 height="23" align="left"
				valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">Hyundai Samho Heavy Industries</font>
			</td>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">HKTC-20210115-001, 15-JAN-2021</font>
			</td>
		</tr>
		<tr>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 height="31" align="left"
				valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">93, Daebul-ro, Samho-eup, Yeongam-gun, Jeollanam-do 58462 Korea</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=4 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 height="23" align="left"
				valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">(TEL. : 82-61-460-4471, FAX. : 82-61-460-3789)</font>
			</td>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4
				align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">9. L/C No. and date</font>
				</b></td>
		</tr>
		<tr>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 height="23" align="left"
				valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=4 height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=4 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4
				height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">2. Consignee</font>
			</td>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4
				align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">10. L/C Issuing Bank</font>
				</b></td>
		</tr>
		<tr>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 height="23" align="left"
				valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">SEPCO ARABIA COMPANY</font>
			</td>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">* COUNTRY OF ORIGIN : REPUBLIC OF KOREA</font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">UNIT NO14, 4256 BUILDING, ANAS IBN MALIK, AL YASMEEN DIST,</font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=4 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">P.O.BOX 6726, RIYADH 13326, KINGDOM OF SAUDI ARABIA.</font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4
				align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">11. Terms of Delivery and payment</font>
				</b></td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">(TEL/FAX. : +966-11-2472625, CR NO.: 1010418840 7001861835)</font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=4 height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=4 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="31" align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">3. Noitfy Party</font>
				</b></td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4
				align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">12. Remarks</font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">* COUNTRY OF ORIGIN : REPUBLIC OF KOREA</font>
			</td>
		</tr>
		<tr>
			<td height="33" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">same as above</font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">* H.S CODE NO. : 1234-00-0000</font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">* NO. OF BILL OF LADING : ABC012345678</font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999" height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #999999" height="33" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">4. Port of loading</font>
			</td>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=2
				align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">5. Port of discharging</font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">5-1. Final destination</font>
			</td>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4
				align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">13. Shipping Mark</font>
				</b></td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" height="67" align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">BUSAN Port, Korea</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=2 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">Dammam Port, Saudi Arabia</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">Dammam Port, Saudi Arabia</font>
			</td>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=4 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=2
				height="23" align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">6. Vessel &amp; Voy</font>
				</b></td>
			<td style="border-top: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=2
				align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">7. Sailing on or about</font>
				</b></td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #000000" height="31" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">HYUNDAI 1234W</font>
			</td>
			<td style="border-bottom: 2px solid #000000; border-right: 2px solid #999999" align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #000000; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=2 align="right" valign=bottom bgcolor="#FFFFFF" sdval="44211" sdnum="1033;1033;M/D/YYYY">
				<font face="Arial" color="#000000">1/15/2021</font>
			</td>
			<td style="border-bottom: 2px solid #000000; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=4 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" height="53" align="center"
				valign=middle bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">14. No.</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #000000" align="center" valign=middle
				bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">15. C/T No.</font>
				</b></td>
			<td
				style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #999999"
				rowspan=2 align="center" valign=middle bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">16.SKU</font>
				</b></td>
			<td
				style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #999999; border-right: 2px solid #999999"
				rowspan=2 align="center" valign=middle bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">17. Description of goods</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=bottom
				bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">18. Quantity</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=bottom
				bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">19. N/W</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=bottom
				bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">20. G/W</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=bottom><b>
					<font face="Arial" color="#000000">21. Measurement</font>
				</b></td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #999999" height="23" align="center" valign=middle bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">(Pallet)</font>
				</b></td>
			<td style="border-right: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">(Carton)</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">(PCS)</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">(KGS)</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">(KGS)</font>
				</b></td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">(CBM)</font>
				</b></td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" height="31" align="center"
				valign=middle bgcolor="#FFFFFF" sdval="1" sdnum="1033;">
				<font face="Arial" color="#000000">1</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #000000" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="44573" sdnum="1033;0;MM&quot;&#50900;&quot; DD&quot;&#51068;&quot;">
				<font face="DejaVu Sans" color="#000000">01&#50900; 12&#51068;</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">BL22HQ1000</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">IMPACT WRENCH</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="4" sdnum="1033;">
				<font face="Arial" color="#000000">4</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="352" sdnum="1033;">
				<font face="Arial" color="#000000">352</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #000000" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="352.8" sdnum="1033;">
				<font face="Arial" color="#000000">352.8</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="1" sdnum="1033;">
				<font face="Arial" color="#000000">1</font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" height="31" align="center"
				valign=middle bgcolor="#FFFFFF" sdval="2" sdnum="1033;">
				<font face="Arial" color="#000000">2</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #000000" align="center" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">13-16</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">BL22G90</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">ANGLE FRINDER</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="4" sdnum="1033;">
				<font face="Arial" color="#000000">4</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="106" sdnum="1033;">
				<font face="Arial" color="#000000">106</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #000000" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="106.4" sdnum="1033;">
				<font face="Arial" color="#000000">106.4</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="2" sdnum="1033;">
				<font face="Arial" color="#000000">2</font>
			</td>
		</tr>
		<tr>
			<td
				style="border-top: 2px solid #999999; border-bottom: 1px solid #000000; border-left: 2px solid #999999; border-right: 2px solid #999999"
				rowspan=5 height="170" align="center" valign=middle bgcolor="#FFFFFF" sdval="3" sdnum="1033;">
				<font face="Arial" color="#000000">3</font>
			</td>
			<td style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-right: 2px solid #000000"
				align="center" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">17-22</font>
			</td>
			<td style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-right: 2px solid #999999"
				align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">BL22R806</font>
			</td>
			<td style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-right: 2px solid #999999"
				align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">DRIVER DRILL</font>
			</td>
			<td style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-right: 2px solid #999999"
				align="center" valign=middle bgcolor="#FFFFFF" sdval="5" sdnum="1033;">
				<font face="Arial" color="#000000">5</font>
			</td>
			<td style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-right: 2px solid #999999"
				align="center" valign=middle bgcolor="#FFFFFF" sdval="138" sdnum="1033;">
				<font face="Arial" color="#000000">138</font>
			</td>
			<td style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-right: 2px solid #000000"
				align="center" valign=middle bgcolor="#FFFFFF" sdval="138.2" sdnum="1033;">
				<font face="Arial" color="#000000">138.2</font>
			</td>
			<td style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-right: 2px solid #999999"
				align="center" valign=middle bgcolor="#FFFFFF" sdval="2" sdnum="1033;">
				<font face="Arial" color="#000000">2</font>
			</td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF" sdval="23" sdnum="1033;">
				<font face="Arial" color="#000000">23</font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">BL22R806</font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">IMPACT WRENCH</font>
			</td>
			<td style="border-right: 2px solid #999999" align="center" valign=middle bgcolor="#FFFFFF" sdval="4" sdnum="1033;">
				<font face="Arial" color="#000000">4</font>
			</td>
			<td
				style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdval="22" sdnum="1033;">
				<font face="Arial" color="#000000">22</font>
			</td>
			<td
				style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #000000"
				rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdval="22.6" sdnum="1033;">
				<font face="Arial" color="#000000">22.6</font>
			</td>
			<td
				style="border-top: 2px solid #999999; border-bottom: 2px solid #999999; border-left: 2px solid #000000; border-right: 2px solid #999999"
				rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdval="1" sdnum="1033;">
				<font face="Arial" color="#000000">1</font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #000000" align="center" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">BL22HQ1300</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="left" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">MID-TORQUE WRENCH</font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="5" sdnum="1033;">
				<font face="Arial" color="#000000">5</font>
			</td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF" sdval="24" sdnum="1033;">
				<font face="Arial" color="#000000">24</font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">BL22HQ700</font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">CHUNK ASSY</font>
			</td>
			<td style="border-right: 2px solid #999999" align="center" valign=middle bgcolor="#FFFFFF" sdval="10" sdnum="1033;">
				<font face="Arial" color="#000000">10</font>
			</td>
			<td
				style="border-top: 2px solid #999999; border-bottom: 1px solid #000000; border-left: 2px solid #999999; border-right: 2px solid #999999"
				rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdval="4" sdnum="1033;">
				<font face="Arial" color="#000000">4</font>
			</td>
			<td
				style="border-top: 2px solid #999999; border-bottom: 1px solid #000000; border-left: 2px solid #999999; border-right: 2px solid #000000"
				rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdval="4.7" sdnum="1033;">
				<font face="Arial" color="#000000">4.7</font>
			</td>
			<td
				style="border-top: 2px solid #999999; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #999999"
				rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdval="1" sdnum="1033;">
				<font face="Arial" color="#000000">1</font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 1px solid #000000; border-right: 2px solid #000000" align="center" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 1px solid #000000; border-right: 2px solid #999999" align="left" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">BL22T80</font>
			</td>
			<td style="border-bottom: 1px solid #000000; border-right: 2px solid #999999" align="left" valign=middle
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">SWITHCH ASSY</font>
			</td>
			<td style="border-bottom: 1px solid #000000; border-right: 2px solid #999999" align="center" valign=middle
				bgcolor="#FFFFFF" sdval="50" sdnum="1033;">
				<font face="Arial" color="#000000">50</font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px double #000000; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=2 height="35" align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">24. Total : 3 PALLETS</font>
				</b></td>
			<td style="border-bottom: 2px double #000000; border-left: 2px solid #999999" colspan=2 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px double #000000" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px double #000000" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px double #000000" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px double #000000; border-right: 2px solid #999999" align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-top: 2px double #000000" colspan=2 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">24 CARTONS</font>
			</td>
			<td align="center" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">82PCS</font>
				</b></td>
			<td align="center" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">622kg</font>
				</b></td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">624.7kg</font>
			</td>
			<td style="border-right: 2px solid #999999" align="center" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">7CBM</font>
				</b></td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" colspan=4 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-left: 2px solid #999999; border-right: 2px solid #999999" colspan=8 rowspan=4 height="91"
				align="center" valign=middle bgcolor="#FFFFFF">
				<font face="Arial" color="#000000">edit</font>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" colspan=3 align="left" valign=bottom bgcolor="#FFFFFF"><b>
					<font face="Arial" color="#000000">30. Signed by</font>
				</b></td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=top bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" colspan=3 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="DejaVu Sans" color="#000000">&#51060;&#48120;&#51648; &#49341;&#51077;</font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=top bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=top bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" colspan=3 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=top bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=top bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-right: 2px solid #999999" colspan=3 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #999999; border-left: 2px solid #999999; border-right: 2px solid #999999"
				colspan=3 height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-bottom: 2px solid #999999; border-right: 2px solid #999999" colspan=3 align="left" valign=bottom
				bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td style="border-top: 2px solid #999999" colspan=3 align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom bgcolor="#FFFFFF">
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
			<td align="left" valign=bottom>
				<font face="Arial" color="#000000"><br></font>
			</td>
		</tr>
	</table>

	<table class="table table-striped">
		<tr>
			<td *ngFor="let header of mockDataHeader">
				<b>{{header}}</b>
			</td>
		</tr>
		<tbody>
			<tr *ngFor="let tr of pastedArray; let rowIdx = index;">
				<td *ngFor="let item of tr; let columnIdx = index;">
					<ng-container *ngIf="item === '수출' else inputTag">
						<select selected="수출">
							<option>수입</option>
							<option>수출</option>
						</select>
					</ng-container>
					<ng-template #inputTag>
						<input value="{{item}}" appPasteCell [rowIdx]="rowIdx" [columnIdx]="columnIdx" [trArr]="pastedArray" (pasteArrEmit)="setPasteDataArr($event)">
					</ng-template>
				</td>
			</tr>
		</tbody>
	</table>


</div>

<div class="ul-form-excel">
	<ul>
		<li *ngFor="let header of mockDataHeader">
			<b>{{header}}</b>
		</li>
	</ul>
	<ul id="ul">
    <li *ngFor="let header of mockDataHeader; let i = index">
			<div *ngFor="let item of mockDataArr; let j = index;"
			title="{{renderListText(mockDataArr[j], header)}}"
			[innerText]="renderListText(mockDataArr[j], header)"
			[ngStyle]="{'color': renderBold(i, j) ? 'white' : 'black', 'border-top': renderBold(i, j) && '0' }">
			></div>
    </li>
</ul>
</div>


