<button type="button" (click)="onPrevious()" [disabled]="counter===0">Previous</button>
<button type="button" (click)="onNext()" [disabled]="this.counter == this.list.length - 1">Next</button>
<div [@animSlider]="counter">
	<ng-container *ngFor="let o of list; let i=index">
		<hello *ngIf="i===counter" name="{{i}}">
			{{i}}
		</hello>
	</ng-container>
</div>
<br/>
<br/>
<br/>
<app-image-slider></app-image-slider>
<ng-container *ngIf="messageList && messageList.length">
	<ul *ngFor="let msg of messageList">
		<li>{{msg.message}} / 시간 : {{dateFormat(msg.createdAt)}}</li>
	</ul>
</ng-container>


<div class="chat">
	채팅내용 : <input value="" type="text" (keyup.enter)="sendMessage()"
  [(ngModel)]="message"
  >
</div>