<div class="contents" (mousedown)="mousedown($event)" 
(mouseup)="mouseup($event)" (mousemove)="mousemove($event)"
(mouseout)="mouseleave($event)"


(touchstart)="mousedown($event)" 
(touchend)="mouseup($event)" (touchmove)="mousemove($event)"
(touchleave)="mouseleave($event)"


#contents>
	<div class="category_menu">
		<ul>
			<li><a href="javascript:void(0)" draggable="false" class="on">처음 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">두번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">세번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">네번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">다섯번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">여섯번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">일곱번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">여덟번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">아홉번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">열번째 메뉴</a></li>
			<li><a href="javascript:void(0)" draggable="false">열한번째 메뉴</a></li>
		</ul>
		<span class="line" style="left: 22px; width: 82px; opacity: 1;"></span>
	</div>
</div>
