// :root {
//   -ms-user-select: none; 
//   -moz-user-select: -moz-none;
//   -khtml-user-select: none;
//   -webkit-user-select: none;
//   user-select: none;
// }

::-moz-selection {color:#fff; background:#48CFAD;}
::selection {color:#fff; background:#48CFAD;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
